@import url('https://fonts.googleapis.com/css2?family=Baskervville+SC&display=swap');

body {
    background-color: rgba(228, 181, 120, 0.3);
}

nav {
    display: flex;
    flex-direction: row;
}

#nav1, #nav2, #nav3, #nav4 {
    display: flex;
    flex-direction: row;
    padding: 50px;
    font-family: "Baskervville SC", sans-serif;
    font-size: larger;
    text-shadow: 0 1px 1px rgba(118, 5, 27, 0.9);
    color: rgb(40, 63, 106);
    text-decoration: none;
    transition: transform .4s;
}

#nav1:hover, #nav1:focus, #nav2:hover, #nav2:focus, #nav3:hover, #nav3:focus, #nav4:hover, #nav4:focus {
    color:rgba(118, 5, 27, 0.9);
    transform: scale(1.5);
}

.container {
    display: flex;
    justify-content: center;
}

.background-fade {
    display: flex;
    justify-content: center;
    padding-top: 2%;
    padding-bottom: 2%;
    border-radius: 3px;
    background: linear-gradient(to right, rgb(40, 63, 106, 0.8),rgba(118, 5, 27, 0.8));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.flowers {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 9px;
    height: 50px;
    width: auto;
    padding-left: 20px;
    padding-right: 20px;
    transition: background-color 0.3s ease;
    background: rgba(15, 35, 73, 0.8);
    transition: transform .2s;
    box-shadow: 2px 2px 2px rgba(227, 148, 164, 0.9);
    margin-left: 50px;
}

button:hover {
    background-color: rgba(116, 27, 45, 0.7);
    transition: background-color rgba(116, 27, 45, 0.7);
    transform: scale(1.5);
}

a {
    color: white;
    text-decoration: none;
    font-size: 2em;
}

h1 {
    display: flex;
    justify-content: center;
    padding-top: 2%;
    padding-bottom: 2%;
    border-radius: 3px;
    background: linear-gradient(to right, rgb(40, 63, 106, 0.8),rgba(118, 5, 27, 0.5));
    color: rgba(240, 227, 232, 0.954);
    font-family: "Baskervville SC", sans-serif;
    text-shadow: 0.8px 0.8px 0.8px rgba(100, 93, 96, 0.954);
}

#logo, .logo {
    position: absolute;
    display: flex;
    width: 16%;
    padding-left: 20px;
    padding-top: 15px;
}

img {
    max-width: 60%;
    border: 3px solid rgba(227, 148, 164, 0.9);
    border-radius: 20px;
    flex-grow: 1;

}

.image {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

h2 {
    display: flex;
    justify-content: center;
    padding: 50px;
    font-family: "Baskervville SC", sans-serif;
    text-shadow: 0 1px 1px rgba(118, 5, 27, 0.4);
    color: rgb(40, 63, 106);
    text-decoration: none;
    transition: transform .4s;
}

.footer {
    display: flex;
    justify-content: center;
}

.contact {
    display: flex;
    flex-direction: row;
    padding: 30px;
    font-family: "Baskervville SC", sans-serif;
    text-shadow: 0 1px 1px rgba(118, 5, 27, 0.9);
    color: rgb(40, 63, 106);
    text-decoration: none;
    transition: transform .4s;
}

.contact:hover, .contact:focus, .newsletter:hover, .newsletter:focus, .benefits:hover, .benefits:focus {
    color:rgba(118, 5, 27, 0.9);
    transform: scale(1.5);
}

#top {
    text-decoration: none;
}

p {
    color: rgb(40, 63, 106);
    padding-left: 20%;
    padding-right: 20%;
    text-align: center;
    font-family: "Baskervville SC", sans-serif;
}

.flowers ul li{
    align-items: center;
    list-style-position: inside;
    list-style-type: square;
}

.copyright {
    color: rgb(40, 63, 106);
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}

@media screen and (max-width: 600px){
    .navigation, .footer {
        flex-direction: column;
        position: relative;
        width: 100%;
    }
}