@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans&display=swap');

body {
    background-color: rgba(10, 10, 9, 0.9);
}

nav {
    display: flex;
    flex-direction: row;
}

#nav1, #nav2, #nav3, #nav4 {
    display: flex;
    flex-direction: row;
    padding: 50px;
    font-family: "Funnel Sans", sans-serif;
    font-size: larger;
    text-shadow: 0 1px 1px rgba(230, 57, 0, 0.9);
    color: rgba(230, 115, 0, 0.9);
    text-decoration: none;
    transition: transform .4s;
}

#nav1:hover, #nav1:focus, #nav2:hover, #nav2:focus, #nav3:hover, #nav3:focus, #nav4:hover, #nav4:focus {
    color:rgba(118, 5, 27, 0.9);
    transform: scale(1.5);
}

.container {
    display: flex;
    justify-content: center;
}

.space-camp {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.thisbutton {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff7300;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    margin-right: 30px;
}

.thisbutton:hover {
    background-color: rgba(230, 57, 0, 0.9);
    color: white;
}

.thisbutton:active {
    margin-left: 1px 1px 0;
    box-shadow: -1px -1px 1px #000;
    outline: 1px solid #000000;
    -moz-outline-radius: 7px;
    background-image: linear-gradient(to top, #97e8ae, #3be36b);
    transform: scale(1.5);
}

.thisbutton:checked {
    animation: change-size 3s ease;
    width: 70px;
    height: 74px;
    line-height: 74px;
}

@keyframes change-size {
    from {transform: scale(1.0);}
    to {transform: scale(1.4);}
}

a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    text-decoration: none;
    font-size: 2em;
    transition: background-color 0.3s ease-in-out;
    transition: transform .2s ease-in-out;
}

a:hover {
    color: rgba(230, 57, 0, 0.9);
}

h1 {
    display: flex;
    justify-content: center;
    padding-top: 2%;
    padding-bottom: 2%;
    border-radius: 3px;
    color: rgba(248, 244, 246, 0.954);
    font-family: "Funnel Sans", sans-serif;
    text-shadow: 0.8px 0.8px 0.3px rgba(230, 57, 0, 0.9);
}

.logo {
    position: absolute;
    display: flex;
    width: 16%;
    padding-left: 20px;
    padding-top: 15px;
    /* animation: rotate 10s infinite linear; */
}

#logo2 {
    animation: rotate 10s infinite linear;
}

@keyframes rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

img {
    max-width: 60%;
    flex-grow: 1;
}

.image {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.pic {
    border-radius: 15px;
    border: 2px solid rgba(240, 227, 232, 0.954);
}


h2 {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 50px;
    font-family: "Funnel Sans", sans-serif;
    font-size: larger;
    color: rgba(197, 125, 24,0.9);
    text-decoration: none;
    transition: transform .4s;
    text-shadow: 0.8px 0.8px 0.8px rgba(100, 93, 96, 0.954);
}

.footer {
    display: flex;
    justify-content: center;
}


#contact {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 100%;
    font-family: "Funnel Sans", sans-serif;
    text-decoration: none;
    transition: transform .4s;
    background-color: transparent;
}

/* .contact:hover, .contact:focus, .newsletter:hover, .newsletter:focus, .benefits:hover, .benefits:focus {
    color:rgba(244, 3, 3, 0.9);
    transform: scale(1.5);
} */

#top {
    text-decoration: none;
}

p {
    color: rgba(242, 238, 239, 0.954);
    padding-left: 20%;
    padding-right: 20%;
    text-align: center;
}

.copyright {
    color: rgba(240, 227, 232, 0.954);
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}

@media screen and (max-width: 600px){
    .navigation, .footer {
        flex-direction: column;
        position: relative;
        width: 100%;
    }
}